* { box-sizing: border-box }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Bangers';
  background: linear-gradient(141deg, #050505 0, #1d1c1c 71%, #1f1b1b 100%);
  text-align: center;
  color: whitesmoke;
}

figure {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  img { width: 80%; }
}

h1,
h2,
footer { font-weight: normal; }

h1 { 
  font-size: 5.5rem;
  text-shadow:
    -1.5px -1.5px 0 #0569F5,
    1.5px -1.5px 0 #0569F5,
    -1.5px 1.5px 0 #0569F5,
    1.5px 1.5px 0 #0569F5;
  margin: 1rem 0 .5rem;
}

.aka-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;

  .aka { 
    opacity: 0;
    animation: showAKA 650ms 300ms forwards ease-out;
  }
  
  .name-changer {
    display: inline-block;
    min-width: 90px;
    text-align: left;
    margin-left: .5rem;
    font-size: 1.5rem;
    animation: fade 1500ms infinite;
  }
}

@keyframes showAKA {
  100% { opacity: 1; }
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

footer {
  position: absolute;
  width: 100vw;
  bottom: .5rem;
  
  span { 
   margin: 0 .2rem;

   &:hover { color: #0569F5; }
  }
}

@media (min-width: 400px) {
  figure {
    img { width: 320px; }

    figcaption { min-width: 90px; }
  }
}

@media (min-width: 768px) {
  figure {
    img { width: 450px; }
  }

  footer { bottom: 1rem; }
}