$blue:  #0569F5;

* { box-sizing: border-box }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Bangers';
  background: linear-gradient(141deg, #050505 0, #1d1c1c 71%, #1f1b1b 100%);
  text-align: center;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
}

figure {
  margin: 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tilt-child { min-width: 100vw; }
  
  img { 
    width: 80%;
    background: radial-gradient(transparent 64%, blue 65%, transparent 73%);
  }
}

h1,
h2,
footer { font-weight: normal; }

h1 { 
  font-size: 6rem;
  text-shadow:
    -2px -2px 2px $blue,
    2px -2px 2px $blue,
    -2px 2px 2px $blue,
    2px 2px 2px $blue;
    margin: 0;
}

.aka-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;

  .aka { 
    font-size: 1rem;
    opacity: 0;
    animation: showAKA 400ms 750ms ease-out forwards;
  }
  
  .name-changer {
    display: inline-block;
    min-width: 95px;
    text-align: left;
    margin-left: .5rem;
    font-size: 1.5rem;
    animation: fade 1500ms infinite;
    text-shadow:
      -1px -1px 1px $blue,
      1px -1px 1px $blue,
      -1px 1px 1px $blue,
      1px 1px 1px $blue;
  }
}

@keyframes showAKA {
  20%,
  100% { opacity: 1; }
}

@keyframes fade {
  0% { opacity: 0; }
  20%,
  80% { opacity: 1; }
  100% { opacity: 0; }
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0.5rem;
  
  a { 
   margin: 0 .2rem;
   text-decoration: none;
   color: whitesmoke;

   &:hover { color: $blue; }
  }

  .cell::before { content: '📱'; }

  .email::before { content: '💬'; }
}

@media (min-width: 400px) {
  figure {
    img { width: 320px; }

    figcaption { min-width: 90px; }
  }
}

@media (min-width: 768px) {
  figure {
    img { width: 450px; }

    h1 {
      font-size: 7rem;
      margin: 1rem 0 .5rem;
    }

    .aka-container {
      min-height: 3rem;
    
      .aka { font-size: 1.5rem; }
      
      .name-changer {
        min-width: 120px;
        font-size: 2rem;
      }
    }
  }

  footer { bottom: 1rem; }
}